*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*, html, body, textarea, select, .cs_cursor, [data-cur="cursor"], [data-cur="cursor"]:hover, [data-cur="cursor"] :hover, label {
    cursor: var(--cursor-url);
}

body {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header {
    position: fixed;
    top: 0;
    left: 0 ;
    height: 60px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    /* background: hsla(0, 0%, 100%, .25); */
    background: white;
    /* border-bottom: 1px solid hsla(0, 0%, 100%, .18); */
    
    z-index: 1000;
}

header .header-div {
    align-items: center;
    display: flex;
    gap: 25px;
    color: black;
}
header .header-a {
    font-size: 23px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: black;
}

header .nav-ul {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
}

header .nav-ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.3rem 7%;
    font-weight: 600;
    color: black;
}

header .nav-ul li a:hover{
    text-decoration: underline solid #d595cb;
}

header .nav-list {
    display: block;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: black;

    z-index: 9999;
}

/* .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #d595cb;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 50rem;
    transition: .3s;
}

.toggleTheme {
    display: flex;
    justify-content: center;
    color: white;
    transition: .3s;
}

header a {
    text-decoration: none;
    color: rgb(var(--text-color));
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: #d595cb;
}

.toggleTheme:hover {
    transform: translateY(0);
}

.btn i {
    font-size: 1.3em;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bxs-moon:before {
    content: "\ee4e";
} */

section {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.title-content {
    height: 100%;
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.button-home {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #d595cb;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 50rem;
    transition: .3s;
}

#about {
    height: 80vh;
}
#skills {
    height: 80vh;
}

.p-intro {
    font-size: 24px;
    font-weight: 500;
}

.p-ass {
    font-size: 18px;
    font-weight: 400;
}

.p-more{
    font-size: 28px;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

.content-image {
    width: 500px;
    height: 400px;
    background-position: center;
    margin: 0;
}

.title-header {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.skills-cirular p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.circular {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(	#7B61FF 0% 80%, #e6e6e6 80% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 2rem;
}

.circular-css {
    background: conic-gradient(	#7B61FF 0% 70%, #e6e6e6 70% 100%);
}
.circular-js {
    background: conic-gradient(	#7B61FF 0% 69%, #e6e6e6 69% 100%);
}
.circular-py {
    background: conic-gradient(	#7B61FF 0% 55%, #e6e6e6 55% 100%);
}
.circular-java {
    background: conic-gradient(	#7B61FF 0% 30%, #e6e6e6 30% 100%);
}
.circular-react {
    background: conic-gradient(	#7B61FF 0% 10%, #e6e6e6 10% 100%);
}

.inner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-image-html {
    width: 50px;
    height: 50px;
    background-position: center;
}

.skills-image {
    width: 60px;
    height: 60px;
    background-position: center;
}

#skills .title-content {
    flex-direction: row;
    gap: 40px;
}
#Contact .title-content {
    gap: 40px;
}

.border {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    border: 0;
    width: 400px;
    border-radius: 5px;
    padding: 14px 15px 16px;
    font-size: .9em;
    cursor: text;
    background-color: whitesmoke;
    transition: .3s;
}

.border .input {
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    outline: 0;
    font-size: 15px;
    transition: all 0.2s;
    color: rgb(var(--text-color));
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* .border .input+label {
    transform: translate(0, 50%) scale(1);
    -webkit-transform: translate(0, 50%) scale(1);
    -moz-transform: translate(0, 50%) scale(1);
    -ms-transform: translate(0, 50%) scale(1);
    -o-transform: translate(0, 50%) scale(1);
}

.border .input+label {
    transform-origin: left;
    color: rgb(var(--text-color), .4);
    cursor: text;
    font-size: 15px;
    user-select: none;
    transition: all 0.2s;
} */

.border textarea {
    resize: none;
    height: 150px;
}

.button-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #d595cb;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 50rem;
    transition: .3s;
}

aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

aside .aside-div {
    height: 100%;
    display: flex;
}

aside .aside-ul {
    padding: 1.5rem 1rem;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

aside .aside-ul {
    list-style-type: none;
}

aside .aside-ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    
    transition: all 0.1s ease-in-out;
}

aside .aside-ul li a:hover{
    text-decoration: underline solid #d595cb;
}

footer {
    padding: 20px;
    color: white;
    background-color: #d595cb;
    text-align: center;
    font-weight: bold
}

/* @media (max-width: 768px)  On Laptop */ 
/* @media (max-width: 450px)  On Android/Ios */ 

@media only screen and (max-width: 991px) {

    header {
        justify-content: flex-start;
    }

    header .nav-list {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0; 
        left: 0;
        width: 100vh;
        height: 100vh;
        margin-top: 60px;
        z-index: 99;
        background-color: white;
    }

    header .nav-list.active {
        display: block;
        transition: .3s ease-out;
        transform: translateX(0);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-left: 25px;
        z-index: 9999;
    }

    header .nav-ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: initial;
    }

    header .nav-li {
        padding: 15px 30px;
        border-top: 1px solid grey;
    }
    

    section {
        height: auto !important;
        padding: 30px 0;
    }

    section .title-content {
        width: 100vw;
        height: auto;
    }

    .border {
        width: 300px;
    }

    .title-intro {
        width: 300px;
        margin-top: 50px;
    }

    #skills .title-content {
        flex-direction: column;
    }

    .content-image {
    width: 300px;
    height: 300px;
    background-position: center;
    margin: 0;
    align-items: space-between;
    }
}
