*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
body {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header {
    position: fixed;
    top: 0;
    left: 0 ;
    height: 60px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    background: hsla(0, 0%, 100%, .25);
    /* border-bottom: 1px solid hsla(0, 0%, 100%, .18); */
    
    z-index: 9999;
}

header .header-div {
    align-items: center;
    display: flex;
    gap: 25px;
    color: black;
}
header .header-a {
    font-size: 18px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: black;
}

header .nav-ul {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    padding-left: 10rem;
}
.nav-ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.3rem 7%;
    font-weight: 600;
    color: black;
}

.nav-ul li a:hover{
    text-decoration: underline solid #d595cb;
}


section {
    position: relative;
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
}

section .title-content {
    height: 100%;
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.p-intro {
    font-size: 24px;
    font-weight: 500;
}

.p-ass {
    font-size: 18px;
    font-weight: 400;
}

.p-more{
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

.content-image {
    width: 400px;
    height: 330px;
    background-position: center;
    margin-right: 70px;
}

.title-header {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.skills-cirular p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.circular {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(	#7B61FF 0% 80%, #e6e6e6 80% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 2rem;
}

.circular-css {
    background: conic-gradient(	#7B61FF 0% 70%, #e6e6e6 70% 100%);
}
.circular-js {
    background: conic-gradient(	#7B61FF 0% 69%, #e6e6e6 69% 100%);
}
.circular-py {
    background: conic-gradient(	#7B61FF 0% 55%, #e6e6e6 55% 100%);
}
.circular-java {
    background: conic-gradient(	#7B61FF 0% 30%, #e6e6e6 30% 100%);
}
.circular-react {
    background: conic-gradient(	#7B61FF 0% 10%, #e6e6e6 10% 100%);
}

.inner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-image-html {
    width: 50px;
    height: 50px;
    background-position: center;
}

.skills-image {
    width: 60px;
    height: 60px;
    background-position: center;
}

.title-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}






















aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

aside .aside-div {
    height: 100%;
    display: flex;
}

aside .aside-ul {
    padding: 1.5rem 1rem;
    margin: auto;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

aside .aside-ul {
    list-style-type: none;
}

aside .aside-ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    
    transition: all 0.1s ease-in-out;
}

aside .aside-ul li a:hover{
    text-decoration: underline solid #d595cb;
}

footer {
    padding: 20px;
    color: white;
    background-color: #d595cb;
    text-align: center;
    font-weight: bold
}
@media only screen and (max-width: 991px) {
    header.navbar-container {
        display: inline;
        gap: 10px;
    }
    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: 0.5rem;
        padding: 1rem;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    main section {
        gap: 10px 30px;
        flex-flow: column nowrap;
    }
    main .title-content {
        text-align: center;
    }
}